@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {
    letter-spacing: -0.5px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
    position: relative;
}

.popup-banner_wrap {
    width: 450px;
    border: 5px solid #444;
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    right: 5%;
    z-index: 5;
    display: none;
}

.popup-banner_wrap img {
    display: block;
    width: 100%;
}

.popup-banner_wrap .btn-box {
    overflow: hidden;
}

.popup-banner_wrap .btn-box a {
    float: left;
    width: 50%;
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.popup-banner_wrap .btn-box .btn_today-close {
    background-color: #353d40;
}

.popup-banner_wrap .btn-box .btn_close {
    background-color: #005e3c;
}





#header {
    width: 100%;
    background: #fff;
}

#header.on {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

/* #header.on {
    border-bottom: 3px solid #1c7c57;
    box-sizing: border-box;
} */

#header .header_top {
}

#header .header_top .header_top_inner {
    width: 1170px;
    margin: 0 auto;
    height: 46px;
}

#header .header_top .header_top_inner::after {
    content: '';
    display: block;
    clear: both;
}

#header .header_top .header_top_inner .right-menu {
    float: right;
    overflow: hidden;
    margin-top: 10px;
}

#header .header_top .header_top_inner .right-menu .util {
    float: left;
    margin-right: 10px;
}



#header .header_top .header_top_inner .right-menu .util li {
    float: left;
    padding: 0 9px;
    position: relative;
}

#header .header_top .header_top_inner .right-menu .util li::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 13px;
    background: #e1e1e1;
}

#header .header_top .header_top_inner .right-menu .util li:last-child::after {
    display: none;
}

#header .header_top .header_top_inner .right-menu .util li a {
    font-size: 15px;
    color: #000;
    display: inline-block;
    line-height: 26px;
    font-weight: 300;
}

#header .header_top .header_top_inner .right-menu .util li:hover a {
    color: #1c7c57;
}

#header .header_top .header_top_inner .right-menu .login {
    float: left;
    display: block;
    font-size: 15px;
    line-height: 26px;
    color: #555;
    font-weight: 600;
}

#header .header_top .header_top_inner .right-menu .login:hover {
    color: #000;
}

#header .header_bottom {
    height: 70px;
    position: relative;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
}

#header .header_bottom.on {
    border-bottom: 2px solid #1c7c57;
    box-sizing: border-box;
}

#header .header_bottom .gnb_bg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    background: #fff;
    z-index: 20;
    display: none;
}

#header .header_bottom .gnb_bg .gnb_bg_inner {
    width: 1170px;
    height: 335px;
    margin: 0 auto;
}

#header .header_bottom .gnb_bg .gnb_bg_inner .time-info {
    width: 225px;
    height: inherit;
    padding-top: 35px;
    box-sizing: border-box;
    border-right: 1px solid #e1e1e1;
}

#header .header_bottom .gnb_bg .gnb_bg_inner .time-info .clock-img {
    margin-bottom: 20px;
}

#header .header_bottom .gnb_bg .gnb_bg_inner .time-info h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

#header .header_bottom .gnb_bg .gnb_bg_inner .time-info .week {
    font-size: 18px;
    margin-bottom: 5px;
}

#header .header_bottom .gnb_bg .gnb_bg_inner .time-info .time {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
}



#header .header_bottom .header_bottom_inner {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

#header .header_bottom .header_bottom_inner h1 {
    position: absolute;
    left: 0;
    top: -22px;
}

#header .header_bottom .header_bottom_inner h1 a {

}

#header .header_bottom .header_bottom_inner .gnb {
    text-align: center;
}

#header .header_bottom .header_bottom_inner .gnb > li {
    display: inline-block;
    padding: 0 40px;
    margin-left: -4px;
    position: relative;
}


#header .header_bottom .header_bottom_inner .gnb > li:hover > a {
    color: #1c7c57;
}


#header .header_bottom .header_bottom_inner .gnb > li > a {
    display: block;
    padding: 15px 0 38px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    position: relative;
}

#header .header_bottom .header_bottom_inner .gnb > li.on > a::after {
    content: '';
    width: 20px;
    height: 11px;
    background: url('../images/gnb_on_icon.png') no-repeat center center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}


#header .header_bottom .header_bottom_inner .gnb .depth2_wrap {
    position: absolute;
    left: 40px;
    top: 70px;
    z-index: 100;
    text-align: left;
    padding: 35px 0;
    display: none;
}

#header .header_bottom .header_bottom_inner .gnb .depth2_wrap .depth2 {
}

#header .header_bottom .header_bottom_inner .gnb .depth2_wrap .depth2 li {

}

#header .header_bottom .header_bottom_inner .gnb .depth2_wrap .depth2 li a {
    display: block;
    padding: 15px 0;
    color: #000;
    font-size: 18px;
    font-weight: 300;
}


#header .header_bottom .header_bottom_inner .gnb .depth2_wrap .depth2 li a:hover {
    color: #1C7C57;
    font-weight: 500;
}




#main {
    width: 100%;
}

#main .visual-slide {
    
}

#main .visual-slide .swiper-container {
    position: relative;
}

#main .visual-slide .swiper-container .swiper-wrapper {

}

#main .visual-slide .swiper-container .swiper-wrapper .swiper-slide {

}

#main .visual-slide .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
}

#main .visual-slide .swiper-container .swiper-button-prev {
    left: 40px;
    width: 70px;
    height: 70px;
    background: url('../images/imgRoll_prev.png') no-repeat center center;
    text-indent: -9999px;
    transition: all 0.3s;
}

#main .visual-slide .swiper-container .swiper-button-prev:hover {
    background: url('../images/imgRoll_prev_on.png') no-repeat center center;
}

#main .visual-slide .swiper-container .swiper-button-next {
    right: 40px;
    width: 70px;
    height: 70px;
    background: url('../images/imgRoll_next.png') no-repeat center center;
    text-indent: -9999px;
    transition: all 0.3s;

}

#main .visual-slide .swiper-container .swiper-button-next:hover {
    background: url('../images/imgRoll_next_on.png') no-repeat center center;
}


#main .visual-slide .swiper-pagination {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background: rgba(0,0,0,0.5);
    padding: 13px 65px 13px 30px;
    border-radius: 25px;
}

#main .visual-slide .swiper-pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background: url('../images/imgRoll_indi.png') no-repeat center center;
}

#main .visual-slide .swiper-pagination .swiper-pagination-bullet-active {
    background: url('../images/imgRoll_indi_on.png') no-repeat center center;
}

#main .visual-slide .swiper-container .btn_visual-slide {
    position: absolute;
    right: 50%;
    margin-right: -85px;
    bottom: 20px;
    z-index: 11;
    width: 41px;
    height: 41px;
    background: rgba(0, 0, 0, 0.2) url('../images/play_bt.png') no-repeat center center;
    text-indent: -9999px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}

#main .visual-slide .swiper-container .btn_visual-slide.play {
    background: rgba(0, 0, 0, 0.2) url('../images/play_bt_on.png') no-repeat center center;
}




#main .time_wrap {
    padding: 25px 0;
    border-bottom: 1px solid #e1e1e1;
}

#main .time_wrap .time_inner {
    /* width: 1170px; */
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 18px;
}


#main .time_wrap .time_inner .clock-img {
    padding: 0 10px;
}


#main .time_wrap .time_inner .time-tit {
    padding: 0 30px 0 10px;
}

#main .time_wrap .time_inner .time-tit .main-tit {
    font-weight: 700;
}

#main .time_wrap .time_inner .weekday {
    padding: 0 10px;
}


#main .time_wrap .time_inner .weekend {
    padding: 0 10px;
}

#main .time_wrap .time_inner .tit {
    padding: 0 10px;
    font-weight: 300;

}

#main .time_wrap .time_inner .time {
    padding: 0 10px;
    font-weight: 700;
}


#main .exhibition_wrap {
    padding: 100px 0;
    background: url('../images/mainCon1_bg.jpg') no-repeat center top;
    background-size: cover;
    position: relative;
}

#main .exhibition_wrap .exhibition_bg_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#main .exhibition_wrap .exhibition_bg_wrap .bg1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/mainCon1Bg_t1_img.jpg') no-repeat center top;
    background-size: cover;
    display: none;
}

#main .exhibition_wrap .exhibition_bg_wrap .bg2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/mainCon1Bg_t2_img.jpg') no-repeat center top;
    background-size: cover;
    display: none;
}



#main .exhibition_wrap .exhibition_inner {
    width: 1170px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    z-index: 2;
}

#main .exhibition_wrap .exhibition_inner .tit {
    font-size: 40px;
    text-align: center;
}

#main .exhibition_wrap .exhibition_inner p {
    font-size: 18px;
    margin: 30px auto 60px;
    text-align: center;
}

#main .exhibition_wrap .exhibition_inner .exhibition-list {
    overflow: hidden;
}

#main .exhibition_wrap .exhibition_inner .exhibition-list li {
    float: left;
    width: 50%;
    padding: 0 5px;
    box-sizing: border-box;
}

#main .exhibition_wrap .exhibition_inner .exhibition-list li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

#main .exhibition_wrap .exhibition_inner .exhibition-list li.on a::after {
    opacity: 1;
}

#main .exhibition_wrap .exhibition_inner .exhibition-list li a::after {
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
}

#main .exhibition_wrap .exhibition_inner .exhibition-list li a .txt-box {
    padding: 30px 0;
}

#main .exhibition_wrap .exhibition_inner .exhibition-list li a .txt-box h3 {
    font-size: 22px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}


#main .program_wrap {
    padding: 120px 0;
    background: url('../images/mainCon2_bg.jpg') no-repeat center top;
    background-size: cover;
}

#main .program_wrap .program_inner {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    box-sizing: border-box;
}

#main .program_wrap .program_inner .tit {
    font-size: 40px;
}

#main .program_wrap .program_inner p {
    margin-top: 30px;
    font-size: 18px;
    color: #555;
    font-weight: 300;
}

#main .program_wrap .program-list {
    overflow: hidden;
    margin-top: 60px;
}

#main .program_wrap .program-list li {
    float: left;
    width: calc(100% / 3);
    padding: 0 10px 50px 10px;
    box-sizing: border-box;
}

#main .program_wrap .program-list li:hover a {
    box-shadow: 20px 25px 40px rgb(0, 0, 0, 0.2);
}

#main .program_wrap .program-list li a {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

#main .program_wrap .program-list li a .img-box {
    
}

#main .program_wrap .program-list li a .img-box img {
    width: 100%;
    height: 100%;
    display: block;
}

#main .program_wrap .program-list li a .txt-box {
    padding: 25px 25px 30px;
    background: #fff;
    color: #000;

}

#main .program_wrap .program-list li:hover a .txt-box {
    background: #000;
    color: #fff;
    background: linear-gradient(rgba(28, 124, 87,1), rgba(15,141,98,1));
}

#main .program_wrap .program-list li a .txt-box h3 {
    font-size: 22px;
    font-weight: 600;
}


#main .news_wrap {
    padding: 120px 0;
    box-sizing: border-box;
}

#main .news_wrap .news_inner {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

#main .news_wrap .news_inner .tit {
    font-size: 40px;
    color: #000;
    text-align: center;
}

#main .news_wrap .news_inner > p {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

#main .news_wrap .news_inner > div {
    float: left;
    width: 50%;
}

#main .news_wrap .news_inner .left-box {
    float: left;
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    position: relative;
    height: 400px;
}

#main .news_wrap .news_inner .left-box h3 {
    font-size: 22px;
    color: #000;
    margin-bottom: 25px;
    font-weight: 700;
}

#main .news_wrap .news_inner .left-box .btn_more {
    display: block;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    right: 40px;
    top: 40px;
    padding-right: 30px;
    background: url('../images/newsMoreBt_icon.png') no-repeat right center;
    color: #555;
}

#main .news_wrap .news_inner .left-box h4 {
    font-size: 20px;
    color: #000;
    margin-bottom: 60px;
}

#main .news_wrap .news_inner .left-box .date {
    color: #888;
    margin-top: 10px;
    margin-bottom: 27px;
    font-weight: 300;
}

#main .news_wrap .news_inner .left-box .news-list {
    padding-top: 27px;
    border-top: 1px solid #d9d9d9;
}

#main .news_wrap .news_inner .left-box .news-list li {
    padding: 10px 0;
}



#main .news_wrap .news_inner .left-box .news-list li .news-tit {
    display: inline-block;
    width: 85%;
    font-size: 18px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
}

#main .news_wrap .news_inner .left-box .news-list li .news-date {
    font-size: 16px;
    font-weight: 200;
    width: 15%;
}


#main .news_wrap .news_inner .right-box {
    float: right;
    width: 50%;
    padding-left: 22px;
    box-sizing: border-box;
    height: 400px;
}

#main .news_wrap .news_inner .right-box .right_top-box {
    height: 50%;
}

#main .news_wrap .news_inner .right-box .right_top-box ul {
    height: 100%;
}

#main .news_wrap .news_inner .right-box .right_top-box ul li {
    float: left;
    width: 50%;
    height: 100%;
}

#main .news_wrap .news_inner .right-box .right_top-box ul .cs {
    padding-right: 11px;
    box-sizing: border-box;
    background: url('../images/mainCon3_util1_img1.png') no-repeat center 40%;
}

#main .news_wrap .news_inner .right-box .right_top-box ul .cs a {
    text-indent: 11px;
}

#main .news_wrap .news_inner .right-box .right_top-box ul .map {
    padding-left: 11px;
    box-sizing: border-box;
    background: url('../images/mainCon3_util1_img2.png') no-repeat center 40%;
}

#main .news_wrap .news_inner .right-box .right_top-box ul .map a {
    text-indent: -11px;
}

#main .news_wrap .news_inner .right-box .right_top-box ul li a {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    text-align: center;
    line-height: 18;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}



#main .news_wrap .news_inner .right-box .right_bottom-box {
    height: 50%;
    padding-top: 22px;
    box-sizing: border-box;
}

#main .news_wrap .news_inner .right-box .right_bottom-box .inner-box {
    height: 100%;
    background: url('../images/mainCon3_banner.jpg') no-repeat center center;
    padding: 30px;
    box-sizing: border-box;
    color: #fff;
}

#main .news_wrap .news_inner .right-box .right_bottom-box .inner-box h4 {
    font-size: 32px;
    line-height: 38px;
}

#main .news_wrap .news_inner .right-box .right_bottom-box .inner-box .btn_quick {
    display: inline-block;
    padding-right: 40px;
    margin-top: 20px;
    background: url('../images/mainCon3_banner_icon.png') no-repeat right center;
    color: #fff;
    font-weight: 600;
}






#footer {
    width: 100%;
    border-top: 1px solid #d9d9d9;
    position: relative;
}

#footer .btn_top_wrap {
    position: absolute;
    right: 40px;
    top: -40px;
    display: none;
}

#footer .btn_top_wrap .btn_top {
    display: block;
    width: 70px;
    height: 40px;
    background: url('../images/top_btn.png') no-repeat center center;
    text-indent: -9999px;
}

#footer .footer_inner {
    width: 1170px;
    margin: 0 auto;
}

#footer .footer_inner .footer_inner_top {
    padding: 30px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0;   
}

#footer .footer_inner .footer_inner_top .footer-menu {

}

#footer .footer_inner .footer_inner_top .footer-menu li {
    display: inline-block;
    padding: 0 10px;
}

#footer .footer_inner .footer_inner_top .footer-menu li:first-child {
    padding-left: 0;
}

#footer .footer_inner .footer_inner_top .footer-menu li:last-child {
    padding-right: 0;
}

#footer .footer_inner .footer_inner_top .footer-menu li a {
    font-size: 16px;
    color: #333;
    font-weight: 300;
}

#footer .footer_inner .footer_inner_top .footer-menu .private-info a {
    color: #E10000;
}


#footer .footer_inner .footer_inner_bottom {
    padding: 30px 0;
    overflow: hidden;
}

#footer .footer_inner .footer_inner_bottom .left {
    float: left;
}

#footer .footer_inner .footer_inner_bottom .left p {
    font-size: 15px;
    color: #555555;
    font-weight: 300;
    line-height: 1.5em;
}

#footer .footer_inner .footer_inner_bottom .left p span {
    padding: 0 10px;
    border-left: 1px solid #e0e0e0;
}


#footer .footer_inner .footer_inner_bottom .left p .address {
    padding-left: 0;
    border: none;
}

#footer .footer_inner .footer_inner_bottom .left p .biz-num {
    padding-left: 0;
    border: none;
}






#footer .footer_inner .footer_inner_bottom .left .copyright {
    margin-top: 30px;
    color: #777;
    font-size: 13px;
}

#footer .footer_inner .footer_inner_bottom .family-box {
    float: right;
}

#footer .footer_inner .footer_inner_bottom .family-box #selectFamilysite {
    height: 45px;
    border: 1px solid #e0e0e0;
    font-size: 15px;
    color: #555;
    font-weight: 400;
    appearance: none;
    padding-left: 15px;
    padding-right: 25px;
    box-sizing: border-box;
    background: url('../images/sel_icon.png') no-repeat 90% center;
}

#footer .footer_inner .footer_inner_bottom .family-box #selectFamilysite option {
    

}










