@charset "utf-8";

body {
    
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #ffebd2;
	font-family: 'Noto Sans KR', sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* header 부분 */

#header_wrap {
    width: 100%;
    /* height: 400px; */
    height: 137px;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
	position: absolute;
	z-index: 10;
}


#header {
	width: 100%;
	height: 137px;
	border-top: 4px solid #f96a01;
}

#header .header_top {
    width: 100%;
    height: 45px;
	background: #f4f4f4;
}

#header .header_inner {
	width: 1140px;
	height: 45px;
	/* border: 1px solid red; */
	margin: 0 auto;
	overflow: hidden;
}

#header .header_inner p {
	float: left;
	font-size: 14px;
	color: #a99ea2;
	line-height: 45px;
}

#header .header_inner p span {
	color: #2b3433;
	font-weight: bold;
}

#header .header_inner .header_menu {
	float: right;
	/* border: 1px solid red; */
}

#header .header_inner .header_menu .sns {
	float: left;
	margin-top: 10px;
}

#header .header_inner .header_menu .sns a {
	margin-left: 17px;
}

#header .header_inner .header_menu .sns a:first-child {
	margin-left: 0px;
}

#header .header_inner .header_menu .util {
	float: right;
	margin-top: 10px;
}


#header .header_inner .header_menu .util li {
	float: left;
	margin-left: 5px;
}

#header .header_inner .header_menu .util li:first-child {
	margin-left: 39px;
}

#header .header_inner .header_menu .util li:first-child a {
	border: none;
	background: none;
}

#header .header_inner .header_menu .util li a {
	display: block;
	font-size: 13px;
	color: #666;
	border: 1px solid #dedede;
	border-radius: 5px;
	padding: 0 10px 0 10px;
	background: #fff;
	text-decoration: none;
	height: 20px;
	line-height: 20px;
}

#header .header_inner .header_menu .util li:last-child a {
	padding-right: 17px;
	background: url("../images/ico_lang_down.gif") no-repeat 90% 50%;
}

#header .header_bottom {
    width: 100%;
    height: 92px;
    background: #fff;
	border-bottom: 1px solid #e7e7e7;
}

#header .header_bottom .header_inner_bottom {
    width: 1140px;
    height: 92px;
    /* border: 1px solid #000; */
	margin: 0 auto;
	/* overflow: hidden; */
}

#header .header_bottom .header_inner_bottom h1 {
    float: left;
    padding-top: 18px;
}

#header .header_bottom .header_inner_bottom .gnb {
	float: right;
	/* margin-top: 15px; */
}

#header .header_bottom .header_inner_bottom .gnb > li {
	padding: 0 58px;
	padding-top: 15px;
	float: left;
	height: 92px;
	box-sizing: border-box;
	/* border: 1px solid #000; */
	position: relative;
	/* border: 1px solid #000; */
}



#header .header_bottom .header_inner_bottom .gnb > li:last-child {
    padding-right: 0;
}

#header .header_bottom .header_inner_bottom .gnb > li > a {
    display: block;
    padding: 28px 0;
    font-size: 17px;
    color: #000;
	font-weight: 600;
	box-sizing: border-box;
}

#header .header_bottom .header_inner_bottom .gnb > li:hover > a {
    border-bottom: 4px solid #fd6a00;
}

#header .header_bottom .header_inner_bottom .gnb > li:last-child .depth2 {
	margin-left: 28px;
}

#header .header_bottom .header_inner_bottom .gnb .depth2 {
	padding: 17px 0;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 92px;
	transform: translateX(-50%);
	white-space: nowrap;
	text-align: center;
	display: none;
	/* border: 1px solid #000; */
}


#header .header_bottom .header_inner_bottom .gnb .depth2 > li {
	padding: 13px 0;
}


#header .header_bottom .header_inner_bottom .gnb .depth2 > li > a {
	font-size: 15px;
	color: #83797a;
	transition: color 0.1s;
}

#header .header_bottom .header_inner_bottom .gnb .depth2 > li > a:hover {
	color: #000;
}



/* main 부분 */

#main {
	width: 100%;
	padding-top: 137px;
}

#main .slide {
	margin-bottom: -1px;
}

#main .slide a {
    display: block;
    height: 573px;
	outline: none;
}

#main .slide .slide1 a {
    background: #ffcc93 url('../images/slide01.jpg') no-repeat center top;
}

#main .slide .slide2 a {
    background: #fcab7b url('../images/slide02.jpg') no-repeat center top;
}

#main .slide .slide3 a {
    background: #be96b1 url('../images/slide03.jpg') no-repeat center top;
}

#main .slide .slide4 a {
    background: #a8b8ed url('../images/slide04.jpg') no-repeat center top;
}

#main .slide .slide5 a {
    background: #c1f06f url('../images/slide05.jpg') no-repeat center top;
}

#main .slide .slide6 a {
    background: #fe730c url('../images/slide06.jpg') no-repeat center top;
}

#main .slide .slide7 a {
    background: #ffaac0 url('../images/slide07.jpg') no-repeat center top;
}


#main .slide .slick-prev {
    background: url('../images/btn_slide_prev.png') no-repeat center center;
    width: 78px;
    height: 78px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -650px;
    transform: translateY(-50%);
    z-index: 10;
    border: none;
    text-indent: -99999px;
    outline: none;
    cursor: pointer;
}

#main .slide .slick-next {
    background: url('../images/btn_slide_next.png') no-repeat center center;
    width: 78px;
    height: 78px;
    position: absolute;
    right: 50%;
    top: 50%;
    margin-right: -650px;
    transform: translateY(-50%);
    z-index: 10;
    border: none;
    text-indent: -99999px;
    outline: none;
    cursor: pointer;
}

#main .slide .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

#main .slide .slick-dots li {
    float: left;
    margin-right: 3px;
    margin-bottom: 85px;
}

#main .slide .slick-dots li:last-child {
    margin-right: 0;
}

#main .slide .slick-dots li button {
    width: 12px;
    height: 12px;
    background: url('../images/ico_slide_control.png') no-repeat center center;
    border: none;
    text-indent: -99999px;
    outline: none;
    cursor: pointer;
}

#main .slide .slick-dots .slick-active button {
    width: 26px;
    height: 12px;
    background: url('../images/ico_slide_control2_on.png') no-repeat center center;
    border: none;
    outline: none;
    cursor: pointer;
}

/* #main .visual {
	display: block;
	width: 100%;
	height: 573px;
	background: #ffcc93 url("../images/mainimage.jpg") no-repeat center top;
} */

#main .section1 {
	width: 100%;
	background: #fff url('../images/bg_product_tab01.jpg') no-repeat center top;
}

#main .section1 .section1_inner {
	width: 1140px;
	height: 945px;
	margin: 0 auto;
	padding: 70px 0 60px;
	position: relative;
}

#main .section1 .section1_inner .title {
	text-align: center;
}

#main .section1 .section1_inner .title h2 {
	color: #222;
    font-size: 46px;
    line-height: 46px;
    font-weight: 500;
}

#main .section1 .section1_inner .title p {
    margin-top: 20px;
    color: #666;
    font-size: 22px;
    font-weight: 300;
}

#main .section1 .section1_inner .title h3 {
	margin-top: 50px;
    color: #222;
    font-size: 32px;
    line-height: 38px;
}

#main .section1 .section1_inner .list {
	width: 380px;
	margin: 0 auto;
	margin-top: 60px;
}

#main .section1 .section1_inner .list li {
	display: inline-block;
	line-height: 20px;
    color: #666;
    font-size: 15px;
    font-weight: 400;
	text-align: center;
	margin-right: 14px;
	letter-spacing: -1px;
}

#main .section1 .section1_inner .list li:last-child {
	margin-right: 0;
}

#main .section1 .section1_inner .list li h4 {

}

#main .section1 .section1_inner .list li a {
	display: block;
	width: 80px;
	height: 80px;
	margin-top: 15px;
	background: url('../images/product_tab1.png') no-repeat center top;
}

#main .section1 .section1_inner .list li.on a {
	background-position: center -80px;
}

#main .section1 .section1_inner .list li a:hover {
	background-position: center -80px;
}

#main .section1 .section1_inner .list li .snack {
	background: url('../images/product_tab2.png') no-repeat center top;
}

#main .section1 .section1_inner .list li .milk {
	background: url('../images/product_tab3.png') no-repeat center top;
}

#main .section1 .section1_inner .list li .simple {
	background: url('../images/product_tab4.png') no-repeat center top;
}


#main .section1 .section1_inner .newbox {
	width: 250px;
	height: 330px;
	background: url('../images/product_new_bg.png') no-repeat 8px 0;
	position: absolute;
	left: 0;
	top: 40px;
}

#main .section1 .section1_inner .newbox .newbox_list {
	position: relative;
}

#main .section1 .section1_inner .newbox .newbox_list li {

}

#main .section1 .section1_inner .newbox .newbox_list li a {
	display: block;
	width: 180px;
	height: 180px;
	margin-top: 90px;
	margin-left: 40px;
	outline: none;
}

#main .section1 .section1_inner .newbox .newbox_list .slick-dots {
	position: absolute;
	right: 20px;
	top: 40px;
}

#main .section1 .section1_inner .newbox .newbox_list .slick-dots li {
	float: left;
	margin-right: 2px;
}

#main .section1 .section1_inner .newbox .newbox_list .slick-dots li:last-child {
	margin-right: 0;
}

#main .section1 .section1_inner .newbox .newbox_list .slick-dots li button {
    width: 12px;
    height: 12px;
	background: url('../images/ico_slide_control.png') no-repeat center center;
	outline: none;
	border: none;
	cursor: pointer;
	text-indent: -99999px;
}

#main .section1 .section1_inner .newbox .newbox_list .slick-dots .slick-active button {
	width: 12px;
    height: 12px;
	background: url('../images/ico_slide_control_on.png') no-repeat center center;
	outline: none;
	border: none;
	cursor: pointer;
	text-indent: -99999px;
}



/* content 부분 */


.wrap {
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
	/* border: 1px solid blue; */
}

.wrap li {
	list-style: none;
	padding: 35px;
	margin-bottom: 20px;

}

.wrap ul:not(:last-child) {
	margin-right: 20px;
}


.wrap li h3 {
	font-size: 22px;
	color: #fff;
	letter-spacing: -1.4px;
}

.wrap li p {
	font-size: 16px;
	color: #fff;
	margin: 23px 0 32px 0;
	line-height: 20px;
	letter-spacing: -1.4px;
}

.wrap li span {
	font-size: 10px;
	color: #aca0a4;
}

.wrap .con_left {
	float: left;
}

.wrap .con_left .box1 {
	width: 313px;
	height: 225px;
	background: #ffffff url("../images/facebook_resizing.jpg") no-repeat 30px 20px;
}

.wrap .con_left .box1 h3 {
	color: #000;
}

.wrap .con_left .box1 p {
	color: #000;
}

.wrap .con_left .box2 {
	padding: 0;
}

.wrap .con_center {
	float: left;
}

.wrap .con_center .box3 {
	width: 474px;
	height: 430px;
	background: url("../images/vod_bg.png") no-repeat;
}

.wrap .con_center .box4 {
	width: 474px;
	height: 212px;
	background: #91c849 url("../images/bg_comm_tab04.png") no-repeat 310px 40px;
}

.wrap .con_right {
	float: left;
}

.wrap .con_right .box5 {
	width: 313px;
	height: 215px;
	background: #6fc8ea url("../images/bg_comm_tab_new.png") no-repeat 220px 130px;
}

.wrap .con_right .box6 {
	width: 313px;
	height: 195px;
	background: #ffffff url("../images/btn_notice.png") no-repeat 270px 35px;
}

.wrap .con_right .box6 h3 {
	color: #000;
}

.wrap .con_right .box6 p {
	color: #000;
}

.wrap .con_right .box7 {
	width: 313px;
	height: 212px;
	background: #c28ef2 url("../images/bg_comm_tab07.png") no-repeat 220px 135px;
}

/* footer 부분 */

#footer {
	width: 100%;
	height: 214px;
	background: #fafafa;
	border-top: 1px solid #ece2d8;
}

#footer .footer_inner {
	width: 1140px;
	height: 214px;
	margin: 0 auto;
}

#footer .footer_inner h2 {
	float: left;
	margin: 50px 50px 0 0;
}

#footer .footer_inner .footer_menu {
	float: left;
	margin-top: 35px;
}

#footer .footer_inner .footer_menu .footer_util {
	overflow: hidden;
	/* border: 1px solid red; */
}

#footer .footer_inner .footer_menu .footer_util li {
	float: left;
	/* border: 1px solid red; */
	padding: 0 12px 0 12px;
	background: url("../images/ico_foot_bar.gif") no-repeat left center;
}

#footer .footer_inner .footer_menu .footer_util li:first-child {
	background: none;
	padding-left: 0;
}

#footer .footer_inner .footer_menu .footer_util li:last-child a {
	color: #636272;
}


#footer .footer_inner .footer_menu .footer_util li a {
	font-size: 14px;
	color: #777;
	font-weight: bold;
}



#footer .footer_inner .footer_menu address {
	font-style: normal;
	font-size: 12px;
	color: #999;
	line-height: 19px;
	margin-top: 20px;
	letter-spacing: -1.5px;
}

#footer .footer_inner .footer_menu p {
	font-size: 12px;
	color: #c0c0c0;
	margin-top: 3px;
}

#footer .footer_inner .footer_sns {
	float: right;
	margin-top: 40px;
}

#footer .footer_inner .footer_sns .sns {
	float: left;
	margin-top: 10px;
	margin-right: 30px;
}

#footer .footer_inner .footer_sns .sns li {
	float: left;
	margin-right: 30px;
}

#footer .footer_inner .footer_sns .sns li:last-child {
	margin-right: 0px;
}

#footer .footer_inner .footer_sns .family_site {
	float: left;
}

#footer .footer_inner .footer_sns .family_site .btn_family {
	width: 242px;
	height: 40px;
	border: 1px solid #c7c7c7;
	text-align: left;
	color: #636272;
	text-indent: 20px;
	background: #fff url("../images/ico_sel_arr.gif") no-repeat 90% center;
	font-size: 13px;
	cursor: pointer; /* 손모양 만들어주는 명령어 */
	outline: none;
}

#footer .footer_inner .footer_sns p {
	clear: both;
	float: right;
	margin-top: 5px;
}