charset "utf-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}


#header {
    width: 100%;
}

#header .header_top {
    height: 100px;
}

                                
#header .header_middle {
    width: 100%;
    height: 65px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}

#header .header_middle h1 {
    float: left;
    margin-right: 513px;
    margin-left: 40px;
}

#header .header_middle .search {
    float: left;
    width: 420px;
    height: 30px;
    border-bottom: 2px solid #000;
    margin-top: 18px;
}

#header .header_middle .search .searchbox {
    width: 378px;
    height: 28px;
    border: none;
    outline: none;
    vertical-align: middle;
    font-size: 12px;
    letter-spacing: -1px;
}

#header .header_middle .search .btn_search {
    width: 30px;
    height: 28px;
    border: none;
    outline: none;
    background: url("../images/icon-search.png") no-repeat center center;
    vertical-align: middle;
}


#header .header_middle .util {
    float: right;
    margin-right: 83px;
}

#header .header_middle .util > li {
    float: left;
}

#header .header_middle .util > li > a {
    display: block;
    width: 70px;
    height: 25px;
    padding-top: 40px;
    text-align: center;
    font-size: 11px;
    color: #2c1a00;
}

#header .header_middle .util li .join {
    background: url("../images/icon-user-dark.png") no-repeat center 20%;
}

#header .header_middle .util li .login {
    background: url("../images/icon-sign-in-dark.png") no-repeat center 20%;
}

#header .header_middle .util li .cart {
    background: url("../images/icon-bag-dark.png") no-repeat center 20%;
}

#header .header_bottom {
    width: 100%;
    height: 70px;
    background: #0b0b0d;
}

#header .header_bottom .gnb {
    width: 1560px;
    margin: auto;
    text-align: center;
}

#header .header_bottom .gnb .nav {
    display: inline-block;
}

#header .header_bottom .gnb .nav > li {
    display: inline-block;
    /* float: left; */
}

#header .header_bottom .gnb .nav > li:hover > a {
    color: #04bd9e;

}

#header .header_bottom .gnb .nav > li > a {
    display: block;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    height: 70px;
    line-height: 70px;
    position: relative;
}

#header .header_bottom .gnb .nav > li:first-child > a {
    padding-left: 50px;
}

#header .header_bottom .gnb .nav > li:last-child > a {
    padding-right: 50px;
}

#header .header_bottom .gnb .nav > li:last-child > a:after {
    content: '';
    width: 1px;
    height: 10px;
    background-color: #858587;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -5px;
}


#main {
    width: 100%;
}

#main .visual {

    height: 600px;
    background: url("../images/pc02_1920x600_20201203160513.jpg") no-repeat center top;
}

#main .stylestory_wrap {
    width: 100%;
    height: 640px;
}

#main .stylestory_wrap h3 {
    font-size: 35px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 50px;
}

#main .stylestory_wrap .stylestory {
    width: 1560px;
    height: 640px;
    margin: 0 auto;
}

#main .stylestory > li {
    float: left;
    margin-right: 10px;

}

#main .stylestory > li:last-child {
    margin-right: 0;
}

#main .stylestory > li > a {
    display: block;
    width: 380px;
    height: 630px;
}

#main .stylestory > li > a > img {
    width: 380px;
}

#main .stylestory .smalltitle {
    font-size: 16px;
    color: #382e36;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 40px;
}

#main .stylestory p {
    font-size: 12px;
    color: #382e36;
    text-align: center;
    margin-top: 20px;
    line-height: 19px;
}




#main .sticker_banner {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

#main .sticker_banner li {
    width: 50%
    float: left;
    height: 150px;
}

#main .sticker_banner .sticker_banner_left {
    background: #123c2e;
    width: 50%;
}

#main .sticker_banner .sticker_banner_right {
    background: #ffdf00";
    width: 50%;
}