@charset "utf-8";

body {
    
}

* {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	background: none;
	outline: none;
}

#wrap {
	min-width: 320px;
	height: 100%;
	position: relative;
}

.cover {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.7;
	z-index: 11;
	display: none;
}

.m_gnb {
	width: 274px;
	height: 100%;
	background: #f1f1f1;
	z-index: 10;
	position: fixed;
	left: -274px;
	top: 0;
	z-index: 50;
}

.m_gnb .home {
	width: 274px;
	height: 140px;
	background: #111111;
	padding: 30px 16px;
	box-sizing: border-box;
}

.m_gnb .home p {
	color: rgba(255, 255, 255, 0.9);
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 21px;
	letter-spacing: -1px;
}

.m_gnb .home img {
	width: 232px;
}

.m_gnb .m_menu li:last-child {
	border-bottom: 1px solid #e2e2e2;
}

.m_gnb .m_menu li a {
	display: block;
	width: 274px;
	height: 49px;
}

.m_gnb .m_menu li img {
	width: 274px;
}

.m_gnb .m_reserve {
	display: block;
	width: 235px;
	margin: 0 auto;
	margin-top: 30px;
}

.m_gnb .m_reserve img {
	width: 235px;
}

.m_all_search {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 30;
	display: none;
}

.m_all_search .btn_search-close {
	position: absolute;
	right: 0;
	top: 0;
	width: 45px;
	height: 45px;
	display: block;
}

.m_all_search .btn_search-close img {
	width: 100%;
}

.m_all_search .m_all_search-box {
	width: 90%;
	position: absolute;
	top: 170px;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 3px solid #fff;
	padding: 10px 0;
	box-sizing: border-box;
}

.m_all_search .m_all_search-box input {
	background: none;
	border: none;
	font-size: 14px;
	line-height: 20px;
	width: 90%;
	color: #fff;
	letter-spacing: -1px;
}


.m_all_search .m_all_search-box span {
	display: block;
	width: 30px;
	height: 30px;
	background: url('../images/allSerch.png') no-repeat center center;
	background-size: cover;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	text-indent: -9999px;
}


#header {
	width: 100%;
	height: 45px;
	background: #33363f;
	position: relative;
}

#header .m_btn {
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 45px;
	background: url('../images/bg_header_lnb.png') no-repeat center center;
	background-size: 45px;
	z-index: 29;
}

#header .m_btn.on {
	background: url('../images/bg_header_lnb_active.png') no-repeat center center;
	background-size: 45px;
}

/* #header .m_btn img {
	width: 45px;
} */

#header .m_search {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

#header .m_search img {
	width: 45px;
}

#header h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -22.5px;
}

#header h1 img {
	width: 90px;
}


#main {
	width: 100%;
	background: #f5f5f5;
}

#main .visual-slide {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#main .visual-slide img {
	width: 100%;
}

#main .visual-slide .swiper-button-prev {
	color: #fff;
    opacity: 0.5;
	position: absolute;
	left: 11px;
	top: 50%;
}

#main .visual-slide .swiper-button-next {
	color: #fff;
    opacity: 0.5;
	position: absolute;
	right: 11px;
	top: 50%;
}

#main .visual-slide .swiper-pagination {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 10px;
}

#main .visual-slide .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #000;
	opacity: 0.2;
	margin-right: 3px;
}

#main .visual-slide .swiper-pagination .swiper-pagination-bullet:last-child {
	margin-right: 0;
}

#main .visual-slide .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #fff;
	opacity: 1;
}

#main .steps_wrap {
	width: 100%;
	padding: 20px 10px;
	box-sizing: border-box;
	background: #fff;
}

#main .steps_wrap .steps_list {
	overflow: hidden;
}

#main .steps_wrap .steps_list li {
	float: left;
	width: 50%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#main .steps_wrap .steps_list li:nth-child(2n-1) {
	padding-right: 5px;
}

#main .steps_wrap .steps_list li:nth-child(2n) {
	padding-left: 5px;
}

#main .steps_wrap .steps_list li a {
	font-size: 16px;
	line-height: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 25px 10px;
	box-sizing: border-box;
	color: #fff;
	letter-spacing: -1px;
}

#main .steps_wrap .steps_list li a .bold_text {
	font-weight: bold;
}

#main .steps_wrap .steps_list .search > a {
	background: #4bb8bd url('../images/bg_docSearch.png') no-repeat 95% 90%;;
	background-size: 25%;
}

#main .steps_wrap .steps_list .reserve1 > a {
	background: #ff912f url('../images/bg_reserve.png') no-repeat 95% 90%;;
	background-size: 25%;
}

#main .steps_wrap .steps_list .check > a {
	background: #579dd1 url('../images/bg_schedule.png') no-repeat 95% 90%;;
	background-size: 25%;
}

#main .steps_wrap .steps_list .reserve2 > a {
	background: #8eca36 url('../images/bg_health.png') no-repeat 95% 90%;;
	background-size: 25%;
}


#main .main_banner {
	width: 100%;
	padding: 20px 10px;
	box-sizing: border-box;
	margin: 10px 0;
	background: #fff;
}

#main .main_banner .main_banner_list {
	overflow: hidden;
}

#main .main_banner .main_banner_list li {
	float: left;
	width: 20%;
	padding: 0 7px;
	box-sizing: border-box;
	text-align: center;
}


#main .main_banner .main_banner_list li a {
	display: block;
	width: 100%;
	height: 100%;
}

#main .main_banner .main_banner_list li .back_img {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 40px;
	border: 1px solid #eaeaea;
	background: #fafafa url('../images/ico_map.png') no-repeat center center;
	background-size: 60px;
	margin: 0 auto;
	
}

#main .main_banner .main_banner_list li .ico02 {
	background: #fafafa url('../images/ico_parking.png') no-repeat center center;
	background-size: 60px;
}

#main .main_banner .main_banner_list li .ico03 {
	background: #fafafa url('../images/ico_tel.png') no-repeat center center;
	background-size: 60px;
}

#main .main_banner .main_banner_list li .ico04 {
	background: #fafafa url('../images/ico_around.png') no-repeat center center;
	background-size: 60px;
}

#main .main_banner .main_banner_list li .ico05 {
	background: #fafafa url('../images/ico_visit.png') no-repeat center center;
	background-size: 60px;
}

#main .main_banner .main_banner_list li .banner_txt {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 11px;
	color: #333;
	letter-spacing: -1px;
}

#main .main_search {
	width: 100%;
	padding: 15px 10px;
    background: #fff;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#main .main_search .search {
	height: 30px;
    padding: 5px;
    border: 5px solid #1e5faf;
	position: relative;
}

#main .main_search .search input {
	border: 1px solid #fff;
    height: 30px;
    line-height: 30px;
    width: 90%;
	letter-spacing: -.8px;
}

#main .main_search .search span {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: #1e5faf url('../images/btn_search.png') no-repeat center center;
	background-size: cover;
	cursor: pointer;
}

#main .main_health {
    background: #fff;
	padding: 20px 10px;
	box-sizing: border-box;
}

#main .main_health h2 {
	font-size: 20px;
    color: #111;
    font-weight: 600;
    padding-left: 5px;
	padding-bottom: 10px;
}

#main .main_health .swiper-container {
	width: 100%;
	height: 150px;
}

#main .main_health .swiper-container .swiper-wrapper {

}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide {

}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box {
	width: 120px;
	height: 70px;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box1 {
	background: url('../images/health01.jpg');
	background-size: cover;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box2 {
	background: url('../images/health02.jpg');
	background-size: cover;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box3 {
	background: url('../images/health03.png');
	background-size: cover;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box4 {
	background: url('../images/health04.jpg');
	background-size: cover;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box5 {
	background: url('../images/health05.jpg');
	background-size: cover;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box6 {
	background: url('../images/health06.jpg');
	background-size: cover;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box7 {
	background: url('../images/health07.jpg');
	background-size: cover;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box8 {
	background: url('../images/health08.png');
	background-size: cover;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box9 {
	background: url('../images/health09.png');
	background-size: cover;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .img-box10 {
	background: url('../images/health10.png');
	background-size: cover;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .txt-box {
	width: 120px;
	height: 30px;
	padding: 10px 0;
	box-sizing: border-box;
}

#main .main_health .swiper-container .swiper-wrapper .swiper-slide .txt-box p {
	font-size: 14px;
	color: #333;
	text-align: center;
	line-height: 16px;
	font-weight: 600;
}


#main .newsroom {
	width: 100%;
	background: #fff;
	padding: 20px 10px;
	box-sizing: border-box;
}

#main .newsroom h2 {
	font-size: 20px;
	color: #111;
	font-weight: 600;
	padding-left: 5px;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

#main .newsroom .news-slide {
	position: relative;
	overflow: hidden;
}

#main .newsroom .news-slide img {
	width: 100%;
}

#main .newsroom .news-slide .swiper-button-prev {
	color: #fff;
    opacity: 0.5;
	position: absolute;
	left: 11px;
	top: 50%;
}	

#main .newsroom .news-slide .swiper-button-next {
	color: #fff;
    opacity: 0.5;
	position: absolute;
	right: 11px;
	top: 50%;
}

#main .newsroom .news-slide .swiper-pagination {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 10px;
}


#main .newsroom .news-slide .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #000;
	opacity: 0.2;
	margin-right: 3px;
}

#main .newsroom .news-slide .swiper-pagination .swiper-pagination-bullet:last-child {
	margin-right: 0;
}

#main .newsroom .news-slide .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #fff;
	opacity: 1;
}


#main .chart {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

#main .chart .img-box {
	width: 100%;
	height: 100%;
}

#main .chart .img-box img {
	width: 100%;
}


#footer {
	width: 100%;
	background: #222222;
	padding: 15px 5px;
	box-sizing: border-box;
}

#footer .quickmenu {
	overflow: hidden;
}

#footer .quickmenu li {
	float: left;
	width: 33.3%;
	border-right: 1px solid #28292e;
	border-left: 1px solid #5f6065;
	box-sizing: border-box;
}

#footer .quickmenu li:first-child {
	border-left: none;
}

#footer .quickmenu li:last-child {
	border-right: none;
}

#footer .quickmenu li a {
	display: block;
	height: 100%;
	background: #3c3d42;
	color: rgba(255, 255, 255, 1);
	padding: 11px 0;
	font-size: 12px;
    text-align: center;
    letter-spacing: -1px;
}


#footer .footer_info_wrap {
	margin-top: 20px;
	overflow: hidden;
}

#footer .footer_info_wrap .info_left {
	float: left;
}

#footer .footer_info_wrap .info_left a {
	margin-right: 10px;
    line-height: 24px;
}

#footer .footer_info_wrap .info_left .tel {
	color: #fff;
    font-size: 20px;
    font-weight: bold;
}

#footer .footer_info_wrap .info_left .youtube {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../images/img_youtube.png') no-repeat center center;
	background-size: 24px;
	text-indent: -99999px;

}

#footer .footer_info_wrap .info_left .blog {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../images/img_naverblog.png') no-repeat center center;
	background-size: 24px;
	text-indent: -99999px;
}

#footer .footer_info_wrap .info_left .copyright {
	margin-top: 10px;
    color: #fff;
    font-size: 10px;
}

#footer .footer_info_wrap .info_right {
	float: right;
}

#footer .footer_info_wrap .info_right .pcview {
	text-align: right;
}

#footer .footer_info_wrap .info_right .pcview li {
	margin-bottom: 6px;
}

#footer .footer_info_wrap .info_right .pcview li a {
	display: inline-block;
    padding: 4px 6px;
    box-sizing: border-box;
    background: #121212;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
